<alchemy-navblade
        logo-src="dashboard.navbladeConfig.logo.src"
        logo-link="dashboard.navbladeConfig.logo.link"
        classes="dashboard.navbladeConfig.classes"
        navigation="dashboard.navbladeConfig.navigation">
</alchemy-navblade>
<div class="container-fluid">
<div class="row">
    <div class="col-lg-12 voffset-2">
        <h2>{{'app.dashboard.validation.title'|translate}}</h2>
        <ul>
            <li ng-repeat="basket in dashboard.basketCollection | filter:{validation_basket:true}">
                <a ui-sref="main.basket.review({basketId: basket.basket_id})">{{basket.name}}</a>
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 voffset-2">
        <h2>{{'app.dashboard.basket.title'|translate}}</h2>
        <ul>
            <li ng-repeat="basket in dashboard.basketCollection | filter:{validation_basket:false}">
            <a ui-sref="main.basket.view({basketId: basket.basket_id})">{{basket.name}}</a>
            </li>
        </ul>
    </div>
</div>
    </div>