{# Deploy version of index.html #}
<!doctype html>
<html ng-app="lightboxApp" ng-strict-di>
<head>
    <meta charset="utf-8">
    <title>lightboxFrontend</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/assets/lightbox-frontend/styles/vendor.css">
    <link rel="stylesheet" href="/assets/lightbox-frontend/styles/app.css">
</head>
<body>
<div ui-view=""></div>
<script type="application/javascript">
    var envConfiguration = (function () {
        return {
            basePath: '{{ app.request.basepath }}/',
            assetsPath: '{{ app.request.basepath }}/assets/',
            baseUrl: '{{ app.request.schemeAndHttpHost ~ app.request.baseUrl }}/'
        };
    })();
</script>
<script src="/assets/lightbox-frontend/scripts/vendor.js"></script>
<script src="/assets/lightbox-frontend/scripts/app.js"></script>
</body>
</html>